/* Tema Gelap */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    background-color: #1e1e1e;
    width: 80%;
    height: 300px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Tambahkan efek hover agar lebih interaktif */
.section:hover {
    background-color: #333;
}
